.default-main
  = render "header"
  .main
    .main__container
      .card__content
        .chapter__header
          支払い方法
        .chapter__inner
          .inner__content
            .chapter__SubHead
              .inner__head
                クレジットカード一覧
              = link_to "#",class:"inner__btn--blue" do
                クレジットカードを追加する
    = render "side"
  = render "footer"
