.default-main
  = render "items/header"
  .main
    .address__container
      .address__title
        発送元・お届け先住所変更
      .address__content
        = render "devise/registrations/edit_order"
    = render "side"
  = render "items/footer"