.default-main
  = render "header"
  .main
    .main__container
      .logout__container
        .logout__content
          .setting__container
            %button{onclick: "location.pathname='destroy_user_session_path'", type: "button", method: :delete, class: "setting__container__btn--blue"} ログアウト
    = render "side"
  = render "footer"

