.default-main
  = render "items/header"
  .main
    .mail_pass__container
      .mail_pass__title
        メール/パスワード
      .mail_pass__content
        = render "devise/registrations/edit"
    = render "side"
  = render "items/footer"