.default-main
  = render "items/header"
  .main
    .mail_pass__container
      .mail_pass__title
        メール/パスワード
      .mail_pass__content
        以下別府さんから
    = render "side"
  = render "items/footer"