l-container clearfix
  l-contentl-side
    mypage-user-icon
      マイページだけのリンク
        fiugreタグ
          image src (60×60)
        (h3)userの名前
        class="mypage-number"
          評価
          出品数
    mypage-tab-container-notification-todo
      mypage-tabs
      tab-content
    (謎のmodalクラス。表示はない？)
    mypage-tab-container

  l-side
