.default-main
  = render "items/header"
  .main
    .personal_data__container
      .personal_data__title
        本人情報の登録
      .personal_data__content
        以下、別府さんからもらう
    = render "side"
  = render "items/footer"