.bodybuy{
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
  .headerbuy{
    width: 100vw;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    &__name{
      font-size: 40px;
    }
  }
  .mainbuy{
    &__box{
      height: 400px;
      width: 100vw;
      margin: 20px 0 70px;
      background-color: white;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 30px;
      &__price{
        margin: 50px 0 50px 0;
      }
      &__paymet{
        margin: 50px 0 50px 0;
      }
      &__method{
        margin: 50px 0 50px 0;
      }
    }
  }
  .formbuy{
    height: 40px;
    width: 600px;
    background-color: red;
    justify-content: center;
    display: flex;
    align-items: center;
    &__buy{
      color: #ffffff;
    }
  }
}