* {
  box-sizing: border-box;
}

.bodybuy{
  background: #f5f5f5;
  .headerbuy{
    height: 128px;
    width: 100vw;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    .logo2{
      width: 185px;
      height: 49px;
      margin-top: 40px;
    }
  }
  .mainbuy{
    padding-bottom: 10%;
    &_body{
      background-color:#fff;
      height: calc(100vh-128px);
      width: 85%;
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
      font-weight: bold;
      padding: 0 100px 5% 100px;

      &_head{
        font-size: 20px;
        .purchase-title{
          font-weight: bold;
          padding: 10px;
        }
      }

      &_image{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 20px 0;
      }
      &_name{
        margin: 0 auto;
      }
      &_pay{
        display: flex;
        justify-content: space-between;
        padding: 20px 16px;
      }
      &_method{
        display: flex;
        justify-content: space-between;
        padding: 20px 16px;
        .card_image{
          height: 50px;
          width: 60px;
        }
        &_temporary{
          display: flex;
          &_card{
            margin: auto 0;
          }
        }
      }
      &_place{
        display: flex;
        justify-content: space-between;
        padding: 20px 16px;
      }
    }
  }
  .formbuy{
    display: flex;
    justify-content: center;
    margin: 60px 0 0 0;
    .formbuy2{
      height: 50px;
      width: 400px;
      background-color: #2BCCD1;
      justify-content: center;
      display: flex;
      align-items: center;
      color: #ffffff;
      cursor: pointer;
      border-style: none;
      border-radius: 10px;
    }
    .root_btn{
      height: 50px;
      width: 400px;
      justify-content: center;
      display: flex;
      align-items: center;
      color: #2bccd1;
      cursor: pointer;
      background-color: white;
      border: 3px solid #2bccd1;
      border-radius: 10px;
    }
    .root_btn:hover{
      color: white;
      background-color: #2bccd1;
      border-style: none;
      border-radius: 10px;
    }
  }
}
