.main{
  .show__main{
    margin: 0 auto;
    padding: 40px;
    width: 700px;

    .itemsBox{

      .ItemsInfo{
        background-color: #ffffff;
        padding: 24px 40px 40px;
        &__name{
          width: 540px;
          font-size: 26px;
          font-weight: bold;
          text-align: center;
        }

        &__image{
          background-color: #ffffff;
          margin-top: 10px;
          position: relative;
          .items__sold{
            width: 0;
            height: 0;
            border-top: 120px solid #ea352d ;
            border-right: 120px solid transparent;
            border-bottom: 120px solid transparent;
            border-left: 120px solid #ea352d ;
            z-index:100;
            position: absolute;
            top: 0;
            left: 0;
            &__inner{
              transform: rotate(-45deg);
              font-size: 50px;
              margin:-40px 45px 0px -90px;
              color: #fff;
              letter-spacing: 2px;
              font-weight: 600;
            }
          }


          &__MainBox{
            margin: 0 auto;
            object-fit: cover;
          }

          &__SubBox{
            width: 560px;
            height: 87px;
            display: flex;
            justify-content: center;
            margin-top: 10px;

            &__image{
              object-fit: cover;
              margin-right: 3px;
            }
          }
        }

        &__price{
          margin: 24px 0 24px;
          text-align: center;

          &__box{
            font-size: 46px;
            font-weight: bold;
          }

          &__tax{
            font-size: 16px;
          }
        }

        &__text{
          font-size: 18px;
          margin: 0 0 30px 8px;
          line-height: 1.5;
          
        }

        &__status{
          table{
          margin-bottom: 20px;
            tr{
              border-color: #dedede;
              th{
                background-color: #eeeeee;
                width: 20%;
                font-size: 14px;
                padding: 8px;
                font-weight: 400;
              }
              td{
                padding: 8px;
              }
              .ItemsInfo__status__category{
                color: #3ccace;
              }
            }
          }
          // 
        }
      }
      .ItemsBuy{
        height: 50px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        &__btn{
          width: 500px;
          font-size: 14px;
          background-color: #3ccace;
          padding: 10px;
          border-radius: 100px;
          border: none;
          color: #f8f8f8;
          text-align: center;
          line-height: 35px;
        }

      }
        //   追加機能分
        // .ItemsInfo__option{
        //   .ItemsInfo__option__favorite{
        //   }
        //   .ItemsInfo__option__warning{
        //   }
        // }

      .ItemsComment{
        background-color:#ffffff;
        padding: 24px;
        margin: 10px 0;
        text-align: center;
        font-size: 14px;

        &__box{
          width: 100%;
          min-height: 104px;
        }
        
        &__msg{
          background-color: #f8f8f8;
          page-break-after: 8px;
          margin: 10px 0;
          text-align: left
        }
        &__btn{
          line-height: 48px;
          background-color: #3ccace;
          border: solid 1px #3ccace;
          color: #ffffff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
        }
        
      }
      .ItemsDelete{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        &__btn{
          width: 400px;
          height: 40px;
          background-color: red;
          text-decoration: none;
          border: none;
          border-radius: 100px;
          text-align: center;
          line-height: 40px;
          color: white;
        }
      }
      .ItemsEdit{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        &__btn{
          background-color: #3ccace;
          width: 400px;
          height: 40px;
          text-decoration: none;
          border: none;
          border-radius: 100px;
          text-align: center;
          line-height: 40px;
          color: white;
        }
      }

      .itemsLinks{
        display: flex;
        justify-content: space-between;
        background-color: #f5f5f5;

        &__before{
          text-decoration: none;
          color: #3ccace;
        }
        &__after{
          text-decoration: none;
          color: #3ccace;
        
        }
      }
      .ItemsRelated{
        background-color: #f5f5f5;

        &__category{
          margin: 24px 0 8px;
          color: #3ccace;
          font-size: 22px;
          text-decoration: none;
          font-weight: bold;
        }
        &__lists{
          display: flex;
          align-items: center;
          width: 100%;
          background-color: #f5f5f5;
          &__box{
            width: 25%;
            
            &__list{
              font-size: 16px;
              background-color: #f5f5f5;

              .ItemsContent{
                background-color: #ffffff;
                text-decoration: none;
                &__image{
                  object-fit: cover;
                  width: 100%;
                  height: 150px;

                }

                &__Box{
                  padding: 16px;
                  text-decoration: none;
                  color: black;
                  background-color: #ffffff;

                  &__name{
                    text-decoration: none;
                    background-color: #ffffff;
                  }

                  &__content{
                    text-decoration: none;

                    &__price{
                      font-size: 16px;
                      line-height: 1.5;
                      font-weight: normal;
                      background-color: #ffffff;
                      text-decoration: none;
                    }

                    &__tax{
                      font-size: 10px;
                      text-align: left;
                      background-color: #ffffff;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
