.main{
  .show__main{
    margin: 0 auto;
    padding: 40px;
    width: 700px;

    .itemsBox{

      .ItemsInfo{
        background-color: #ffffff;
        padding: 24px 40px 40px;
        // display: flex;
        &__name{
          width: 540px;
          font-size: 24px;
          font-weight: bold;
          text-align: center;
        }

        &__image{
          background-color: #ffffff;
          margin-top: 10px;

          &__MainBox{
            // display: flex;
            // justify-content: center;
            // width: 540px;
            // height: 400px;
            margin: 0 auto;
            object-fit: cover;
          }

          &__SubBox{
            width: 560px;
            height: 87px;
            display: flex;
            justify-content: center;
            margin-top: 10px;

            &__image{
              // width: 25%;
              // height: 87px;
              object-fit: cover;
              margin-right: 3px;
            }
          }
        }

        &__price{
          margin: 24px 0 24px;
          text-align: center;

          &__box{
            font-size: 46px;
            font-weight: bold;
          }

          &__tax{
            font-size: 16px;
          }
        }

        &__text{
          font-size: 18px;
          margin: 0 0 30px 8px;
          line-height: 1.5;
          
        }

        &__status{
          table{
          margin-bottom: 20px;
            tr{
              border-color: #dedede;
              th{
                background-color: #eeeeee;
                width: 20%;
                font-size: 14px;
                padding: 8px;
                font-weight: 400;
              }
              td{
                padding: 8px;
              }
            }
          }
          // 
        }
      }
      .ItemsBuy{
        height: 50px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        .ItemsBuy__btn{
          width: 500px;
          font-size: 14px;
          background-color: #3ccace;
          padding: 10px;
          border-radius: 100px;
          border: none;
          color: #f8f8f8;
          text-align: center;
          line-height: 35px;
        }

      }
        //   追加機能分
        // .ItemsInfo__option{
        //   .ItemsInfo__option__favorite{
        //   }
        //   .ItemsInfo__option__warning{
        //   }
        // }

      .ItemsComment{
        background-color:#ffffff;
        padding: 24px;
        margin: 10px 0;
        text-align: center;
        font-size: 14px;

        &__box{
          width: 100%;
          min-height: 104px;
        }
        
        &__msg{
          background-color: #f8f8f8;
          page-break-after: 8px;
          margin: 10px 0;
          text-align: left
        }
        &__btn{
          line-height: 48px;
          background-color: #3ccace;
          border: solid 1px #3ccace;
          color: #ffffff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
        }
        
      }
      .ItemsInfo__delete{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        .ItemsInfo__delete__btn{
          width: 400px;
          height: 40px;
          background-color: red;
          text-decoration: none;
          border: none;
          border-radius: 100px;
          text-align: center;
          line-height: 40px;
          color: white;
        }
      }
      .ItemsInfo__edit{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        .ItemsInfo__edit__btn{
          background-color: #3ccace;
          width: 400px;
          height: 40px;
          text-decoration: none;
          border: none;
          border-radius: 100px;
          text-align: center;
          line-height: 40px;
          color: white;
        }
      }

      .itemsLinks{
        display: flex;
        justify-content: space-between;
        background-color: #f5f5f5;

        &__before{
          text-decoration: none;
          color: #3ccace;
        }
        &__after{
          text-decoration: none;
          color: #3ccace;
        
        }
      }
      .ItemsRelated{
        background-color: #f5f5f5;

        &__category{
          margin: 24px 0 8px;
          color: #3ccace;
          font-size: 22px;
          text-decoration: none;
          font-weight: bold;
        }
        &__lists{
          display: flex;
          align-items: center;
          width: 100%;
          background-color: #f5f5f5;

          &__list{
            font-size: 16px;
            background-color: #f5f5f5;
            width: calc(100%/3);

            .items__image{
              background-color: #ffffff;
              text-decoration: none;
              .list__image1{
                object-fit: cover;

              }

              &__listBox{
                padding: 16px;
                text-decoration: none;
                color: black;

                &__name{
                  text-decoration: none;
                  background-color: #ffffff;
                }

                &__content{
                  text-decoration: none;

                  &__price{
                    font-size: 16px;
                    line-height: 1.5;
                    font-weight: normal;
                    background-color: #ffffff;
                    text-decoration: none;
                  }

                  &__tax{
                    font-size: 10px;
                    text-align: left;
                    background-color: #ffffff;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
