* {
  box-sizing: border-box;
}

.bodylogin{
  background: #f5f5f5;
  height: 100vh;
  .headerlogin{
    height: 128px;
    width: 100vw;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    .logo2{
      width: 185px;
      height: 49px;
      margin-top: 40px;
    }
  }
  .mainlogin{
    font-size: 14px;
    &_body{
      background-color:#fff;
      width: 85vw;
      margin: 0 auto;
      text-align: center;
      &_user{
        font-size: 25px;
        padding: 32px;
        
      }
      &_form{
        padding: 24px 16px 40px;
        font-size: 16px;
        span{
          color: white;
          background-color:red;
          padding: 4px;
          font-size: 13px;
          border-radius: 5px;
          font-weight: 100;
        }
      }
      .box{
        height: 48px;
        width: 300px;
        margin: 10px;
      }
      .me{
        font-size: 25px;
        margin: 30px 0 50px 0;
      }
      .send{
        height: 30px;
        width: 150px;
        margin: 30px 0 30px 0;
      }
    }
  }
}
