// ログアウト画面

.main__container{
  .logout__container{
    .logout__content{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 700px;
      height: 180px;
      background-color: #ffffff;
      .setting__container{
        // text-align: center;
        .setting__container__btn--blue{
          display: block;
          width: 320px;
          background-color: #3CCACE;
          text-decoration: none;
          text-align: center;
        }
      }
    }
  }
}
