.mail_pass__container{
  width: 700px;
  background-color: #ffffff;
  .mail_pass__title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #fafafa;
  }
}