.main__container{
  width: 700px;
  .main__container__content{
    background-color: coral;
    font-size: 14px;
    padding: 20px;
    .mypage__link{
      height: 200px;
      text-align: center;
      .mypage__box__link{
        .user__image{
          // text-decoration: none;
          width: 60px;
          height: 60px;
        }
        .user_nickname{
          margin: top 8px;
        }
        .mypage__number{
          margin-top: 8px;
          display: flex;
          justify-content: center;
          .mypage__number__sell{
            margin-left: 16px;
          }
        }
      }
    }
  }
  .mypage-tab__container__notification-todo{
    background-color: deepskyblue;
    .mypage__tabs{
      line-height: 72px;
      height: 72px;
      display: flex;
      justify-content: center;
      .tabs__title__notification{
        text-align: center;
        background-color: red;
        width: 350px;
        border-right: solid black 1px;
      }
      .tabs__title__todo{
        text-align: center;
        background-color: royalblue;
        width: 350px;

      }
    }

    .mypage__tab-content{
      padding: 16px;
      background-color: salmon;
      .tab-content__lists-active{
        .tab-content__lists__link{
          display: flex;
          justify-content: left;
          background-color: fuchsia;

          .tab-content__lists__link__icon{
            width: 48px;
            height: 48px;
            background-color: seagreen;
          }
          .tab-content__lists__body{
            background-color: gold;
            margin: 0 40px 0 68px;
            .tab-content__lists__body__text{
              
            }
          }
        }
        .tab-content__lists__go{
          padding: 16px;
          background-color: #eeeeee;
          .tab-content__lists__summary{
          background-color: cyan;
          }
        }
      }
      .tab-content__lists{
        background-color: gray;
        .tab-content__lists__body{
          height: 236px;
          padding: 160px 0 60px;
          color: #cccccc;
          text-align: center;
        }

      }
    }
  }

  .mypage-tab__container__transaction{
    background-color: mediumspringgreen;
    margin-top: 40px;
    .mypage-tab__container__header{
      background-color: #fafafafa;
      height: 72px;
      padding: 0 16px;
      line-height: 72px;
    }
    .mypage-tabs{
      display: flex;
      height: 72px;
      line-height: 72px;
      text-align: center;
      background-color: lightcoral;
      .mypage-tabs__transaction{
        background-color: indigo;
        width: 350px;
      }
      .mypage-tabs__transaction__old{
        background-color: lightblue;
        width: 350px;
      }
    }
    .tab-contents{
      .mypage__item__list-active{
        padding: 16px;
        .mypage-item-transaction{
          height: 236px;
          padding: 160px 0 60px;
          color: #cccccc;
          text-align: center;
          background-color: yellowgreen;
        }
      }
      .mypage__item__list{
        padding: 16px;
        .mypage-item-transaction__old{
          height: 236px;
          padding: 160px 0 60px;
          color: #cccccc;
          text-align: center;
          background-color: yellow;
        }
      }
    }
  }
}