.main__container{
  width: 700px;
  .main__container__content{
    background-color: coral;
    font-size: 14px;
    padding: 20px;
    background-image: url(background-image.jpg);
    .mypage__link{
      height: 200px;
      text-align: center;
      text-decoration: none;
      .mypage__box__link{
        .user__image{
          // text-decoration: none;
          width: 60px;
          height: 60px;
        }
        .user_nickname{
          margin: top 8px;
          text-decoration: none;
        }
        .mypage__number{
          margin-top: 8px;
          display: flex;
          justify-content: center;
          .mypage__number__sell{
            margin-left: 16px;
          }
        }
      }
    }
  }

  .mypage-tab__container__transaction{
    background-color: rgb(233, 233, 233);
    margin-top: 40px;
    .mypage-tab__container__header{
      background-color: #fafafafa;
      height: 72px;
      padding: 0 16px;
      line-height: 72px;
    }
    .mypage-tabs{
      display: flex;
      height: 72px;
      line-height: 72px;
      text-align: center;
      .mypage-tabs__transaction{
        border: inset lightgrey 2px;
        width: 350px;
      }
      .mypage-tabs__transaction__old{
        width: 350px;
        border: inset lightgrey 2px;
      }
    }
    .tab-contents{
      .mypage__item__list-active{
        padding: 16px;
        .mypage-item-transaction{
          height: 236px;
          padding: 160px 0 60px;
          color: #cccccc;
          text-align: center;
          background-color: #ffffff;
        }
      }
      .mypage__item__list{
        padding: 16px;
        .mypage-item-transaction__old{
          height: 236px;
          padding: 160px 0 60px;
          color: #cccccc;
          text-align: center;
          background-color: #ffffff;
        }
      }
    }
  }
}