.personal_data__container{
  width: 700px;
  background-color: #ffffff;
  .personal_data__title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #fafafa;
  }
}