.main__container{
  .profile__container{
    widows: 700px;
    background-color: darkorange;
    .profile__title{
      padding: 8px 24px;
      background-color: red;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
    .profile__contet{
      background-color: rgb(100, 100, 193);
      max-width: 700px;
      // height: 156px;
      .setting__icon{
        padding: 72px 16px 24px;
        height: 48px;
        // line-height: 156px;
        .setting__icon__content{
        display: flex;
        justify-content: center;
        background-image: url(background-image.jpg);
          .setting__icon__img{
            width: 60px;
            height: 60px;
            background-color: green($color: #000000);
          }
          .setting__icon__nickname{
            width: 220px;
            height: 48px;
            background-color: #ffffff;
            margin-left: 8px;
            padding: 10px 16px 8px;
            vertical-align: middle;
          }
        }
      }
      .setting__content{
        padding: 40px 16px;
        background-color: aqua;
        padding: 10px;
        height: 362px;

        .setting__content__text{
          height: 216px;
          background-color: burlywood;
          
        }
        .setting__content__btn{
          background-color: #3cace3;
          margin-top: 16px;
          width: 680px;
          text-decoration: none;
          border-radius: 5px;
          border: none;
        }
      }
    }
  }
}