.card-content
  .chapter-content  
    %h2.chapter-header
      支払い方法chapter-header
      .chapter-inner
        .inner-content
          .chapter-sub-head
            .inner-head
              クレジットカード一覧inner-head
            %button.red-submit-btn{type: "button"}
              = submit_tag "クレジットカードを追加するred-submit-btn"
            -# .settings-About-payment
            -#   お支払いについて
