.bodybuy
  .headerbuy
    .headerbuy__name
      購入の確認
  .mainbuy
    .mainbuy__box
      .mainbuy__box__price
        商品代金:<%= article.title %>
      .mainbuy__box__payment
        支払い金額:<%= article.title %>
      .mainbuy__box__method
        支払い方法 クレジットカード
  .formbuy
    .formbuy__buy
      商品を購入する